.cl1 {
    background-color: #94d609;
    text-align: center;
}
.cl2 {
    background-color: #94d609;
    text-align: center;
    
}
.white {
    height: 50px;
}
.h1 {
    
}

p {
    
    display: block;     
    width: 80%;
    height: 100px;
    background-color: #537804;
    margin-left: 10%;
}