.cl1 {
    background-color: #94d609;
    text-align: center;
    border-radius: 10px;
}

.cl2 {
    background-color: #94d609;
    text-align: center;
    border-radius: 10px;
}

.white {
    height: 50px;
}


p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 100px;
    background-color: #537804;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}

h1 {
    color: white;
}
.black {
    background-color: black;
}